<!DOCTYPE html>
<html class="x-admin-sm">
	<head>
		<meta charset="UTF-8">
		<title>欢迎页面-X-admin2.2</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="stylesheet" th:href="@{/static/css/font.css}">
		<link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
		<script th:src="@{/static/js/layui/layui.js}" charset="utf-8"></script>
		<script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
		<!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-sm12 layui-col-md6">
					<div class="layui-card">
						<div class="layui-card-header">收益统计</div>
						<div class="layui-card-body" style="min-height: 280px;">
							<div id="main5" class="layui-col-sm12" style="height: 280px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
		<script type="text/javascript">
			var myChart = echarts.init(document.getElementById('main5'));

			option = {
				backgroundColor: '#fff',
				// title: {
				// 	text: "订单量（个）",
				// 	left: "18px",
				// 	top: "0",
				// 	textStyle: {
				// 		color: "#999",
				// 		fontSize: 12,
				// 		fontWeight: '400'
				// 	}
				// },
				color: ['#73A0FA', '#73DEB3', '#FFB761'],
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross',
						crossStyle: {
							color: '#999'
						},
						lineStyle: {
							type: 'dashed'
						}
					}
				},
				grid: {
					left: '25',
					right: '25',
					bottom: '24',
					top: '75',
					containLabel: true
				},
				legend: {
					data: ['订单总笔数', '钱包笔数', '借呗笔数'],
					orient: 'horizontal',
					icon: "rect",
					show: true,
					left: 20,
					top: 25,
				},
				xAxis: {
					type: 'category',
					data: ['01-01', '01-02', '01-03', '01-04', '01-05', '01-06', '01-07'],
					splitLine: {
						show: false
					},
					axisTick: {
						show: false
					},
					axisLine: {
						show: false
					},
				},
				yAxis: {
					type: 'value',
					// max: max_value>=100? max_value + 100: max_value+10,
					// max: max_value > 100 ? max_value * 2 : max_value + 10,
					// interval: 10,
					// nameLocation: "center",
					axisLabel: {
						color: '#999',
						textStyle: {
							fontSize: 12
						},
					},
					splitLine: {
						show: true,
						lineStyle: {
							color: '#F3F4F4'
						}
					},
					axisTick: {
						show: false
					},
					axisLine: {
						show: false
					},
				},
				series: [{
						name: '订单总笔数',
						type: 'line',
						smooth: true,
						data: [13, 1, 4, 44, 45, 322, 76]
					},
					{
						name: '钱包笔数',
						type: 'line',
						smooth: true,
						data: [13, 54, 34, 344, 35, 53]
					},
					{
						name: '借呗笔数',
						type: 'line',
						smooth: true,
						data: [13, 2, 2, 32, 123, 23, 136]
					}
				]
			};
			// 指定图表的配置项和数据
			myChart.setOption(option);
		</script>
	</body>
</html>
